*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: rgb(0,0,0);
}
ul,li,ol{
	list-style: none;
}
select{
	border: none;
}
.header{
	background-color: rgb(255,255,255);
	height: 40px;
	width: auto;
}
.header ul{
	width: 1200px;
	height: 40px;
	line-height: 25px;
	font-size: 13px;
	margin: 0 auto;
}
.header li{
	float:right;
}
.header a{
	font-size: 15px;
}
.header img{
	margin: 10px 2px 15px 10px;
}
.tou{
	padding-top: 5px;
	
}
.bangzhu{
	padding-top: 5px;
	margin-right: 30px;
	margin-left: 10px;
}
.datou{
	padding-top: 5px;
	font-weight: bold;
	margin: 0 15px;
}
.nav1{
	background-color: rgb(255,255,255);
	height: 110px;
	width: auto;
}
.nav11{
	width: 1200px;
	height: 110px;
	margin: 0 auto;
}
.navlogo{
	padding: 30px 0px 20px 0px;
	width:  235px;
	height:  61px;
	float: left;
}
.navsousuo{
	height: 68px;
	width: 750px;
	float: left;
	padding: 40px 0px 0px 170px
}
.nav11 form{
	height: 45px;
	width:600px;
}
.nav11 input{
	height: 45px;
	width: 535px;
	border-color: rgb(57,57,66);
	border-right-width: 0px;
	float: left;
	text-align: center;
	line-height: 45px;
	color: rgb(228,228,228);
}
.navsousuo img{
	margin-top: 0px;
	border: 2px solid rgb(57,57,66);
	height: 45px;
	width: 45px;
	float: left;
}
.navgouwuche{
	height: 28px;
	width: 34px;
	float: right;
	margin-top: 60px;
}
.nav2{
	background-color: rgb(255,255,255);
	height: 45px;
	width: auto;
	border-bottom: 4px solid rgb(58,167,71);
}
.nav21{
	height: 45px;
	width: 1200px;
	margin: 0 auto;
}
.nav21 li{
	line-height: 40px;
	float: left;
}
.nav21 li select{
	font-weight: bold;
}
.nav21 li a{
	height: 38px;
	width: 120px;
	float: left;
	font-size: 15px;
	color: rgb(0,0,0);
	text-align: center;
}
.nav21 li a:hover{
	border-bottom: 7px inset rgb(58,167,71);
	color: rgb(58,167,71);
}
.banner{
	background:url(所需小图/banner.png);
	height: 670px;
	width: auto ;
	background-position:center;
	background-repeat: no-repeat;
}
.cebianlan{
	height: 590px;
	width: 80px;
	background-color: rgb(3,11,10);
	position: fixed;
	right: 0;
	top: 200px;
}
.cebianlan li{
	height: 117px;
	width: 66px;
	text-align: center;
	border-bottom: 2px solid rgb(79,84,83);
	margin-left: 7px;
}
.cebianlan img{
	margin-top: 40px;
}
.main{
	background-color: rgb(255,255,255);
	width: auto;
	height: 1020px;
}
.main1{
	height: 1020px;
	width: 1200px;
	margin: 0 auto;
}
.ul1{
	height: 60px;
	width: 1200px;
}
.ulshouye{
	line-height: 40px;
	width: 40px;
	height: 60px;
	float: left;
	margin-left: 40px;
}
.ulyushi{
	line-height: 40px;
	width: 80px;
	height: 60px;
	float: left;
	font-size: 12px;
}
.ulyushi a{
	color: rgb(121,119,119);
}
.ulshangpin{
	float: right;
	line-height: 40px;
}
.ulshangpin a{
	color: rgb(121,119,119);
}
.dabiao{
	height: 138px;
	width: 1200px;
}
.xiaobiao{
	width: 1200px;
	height: 46px;
	border-bottom: 1px solid rgb(204,204,204);
	border-left: 1px solid rgb(204,204,204);
	border-right: 1px solid rgb(204,204,204);
}
.xiaobiaoa{
	width: 1200px;
	height: 46px;
	border: 1px solid rgb(204,204,204);
}
.first{
	background-color: rgb(229,229,229);
	color: rgb(115,115,115);
}
.xiaobiaoa li{
	width: 120px;
	height: 46px;
	float: left;
	line-height: 40px;
}
.xiaobiaoa li a{
	font-size: 15px;
	margin-left: 40px;
}
.xiaobiao li{
	width: 120px;
	height: 46px;
	float: left;
	line-height: 40px;
}
.xiaobiao li a{
	font-size: 15px;
	margin-left: 40px;
}
.teshu a{
	font-size: 10px;
}
.dabiao a{
	color: rgb(115,115,115);
}
.dabiao a:hover{
	color: rgb(58,167,71);
}
.first a{
	color: rgb(0,0,0);
}
.shang{
	margin-top: 5px;
	width: 1200px;
	height: 300px;
}
.shang>.tu1{
	border: 1px solid rgb(135,135,135);
	width: 273px;
	height: 293px;
	margin: 60px 12px 30px 12px;
	float: left;
	background:url("所需小图/img1.png");
	background-position:center;
	background-repeat: no-repeat;
}
.shang>.tu2{
	border: 1px solid rgb(135,135,135);
	width: 273px;
	height: 293px;
	margin: 60px 12px 30px 12px;
	float: left;
	background:url("所需小图/img2.png");
	background-position:center;
	background-repeat: no-repeat;
}
.shang>.tu3{
	border: 1px solid rgb(135,135,135);
	width: 273px;
	height: 293px;
	margin: 60px 12px 30px 12px;
	float: left;
	background:url("所需小图/img3.png");
	background-position:center;
	background-repeat: no-repeat;
}
.shang>.tu4{
	border: 1px solid rgb(135,135,135);
	width: 273px;
	height: 293px;
	margin: 60px 12px 30px 12px;
	float: left;
	background:url("所需小图/img4.png");
	background-position:center;
	background-repeat: no-repeat;
}
.xia>.tu5{
	border: 1px solid rgb(135,135,135);
	width: 273px;
	height: 293px;
	margin: 0px 12px 140px 12px;
	float: left;
	background:url("所需小图/img5.png");
	background-position:center;
	background-repeat: no-repeat;
}
.xia>.tu6{
	border: 1px solid rgb(135,135,135);
	width: 273px;
	height: 293px;
	margin: 0px 12px 140px 12px;
	float: left;
	background:url("所需小图/img6.png");
	background-position:center;
	background-repeat: no-repeat;
}
.xia>.tu7{
	border: 1px solid rgb(135,135,135);
	width: 273px;
	height: 293px;
	margin: 0px 12px 140px 12px;
	float: left;
	background:url("所需小图/img7.png");
	background-position:center;
	background-repeat: no-repeat;
}
.xia>.tu8{
	border: 1px solid rgb(135,135,135);
	width: 273px;
	height: 293px;
	margin: 0px 12px 140px 12px;
	float: left;
	background:url("所需小图/img8.png");
	background-position:center;
	background-repeat: no-repeat;
}
.main13 p{
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	text-align: center;
	line-height: 25px;
	position: relative;
	left:auto;
	top: 244px;
	opacity: 0.8;
}
.main13 p:hover{
	background-color: rgb(0,0,0);
	height: 163px;
	position: relative;
	top: 0px;
	left: auto;
	padding-top: 130px;
}
.foot{
	background-color: rgb(245,245,245);
	height: 100px;
	width: auto;
}
.foot1{
	height: 100px;
	width: 1200px;
	margin: 0 auto;
}
.foot1 li{
	height: 50px;
	width: 299px;
	float: left;
	margin: 20px 0 30px 0px;
}
.foot1 img{
	height: 50px;
	width: 50px;
	float: left;
	margin-left: 40px
}
.foot1 p{
	float: left;
	margin-left: 10px;
}
.ssss{
	margin-top: 5px;
	margin-right: 50px;
	font-size: 12px;
}
.aaaa{
	font-size: 17px;
}
.shu{
	border-right: 1px solid rgb(224,224,224);
}
.page{
	width: auto;
	height: 100px;
	background-color: rgb(50,50,50);
}
.duoyu{
	height: 100px;
	width: 1200px;
	margin: 0 auto;
}
.shangbian{
	width: 900px;
	height: 20px;
	margin-left: 220px;
	padding-top: 30px;
	color: rgb(245,245,245);
}
.shangbian a{
	height: 20px;
	margin: 0 13px;
	color: rgb(245,245,245);
}
.xiabian p{
	text-align: center;
	color: rgb(245,245,245);
	margin-top: 20px;
}





























